#map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

html, body, #map { height: 100%; margin: 0; padding: 0; overflow: hidden; }
            .box {
          position: absolute;
          text-align: center;
          font-family: "Roboto", "Arial", sans-serif;
          font-size: 20px;
          z-index: 5;
          width: 200px;
          height: 50px;
          padding-left: 100px;
          /*background: rgb(255,255,255);*/
          /*background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);*/
          /*border: rgb(229, 229, 229) 1px solid;*/
        }

        #controls {
          width: 200px;
          height: 30px;
        }

        #courses-variable {
          width: 150px;
          height: 50px;
          margin-left: -30px;
          margin-top: 20px;

        }
        #time-variable {
          width: 150px;
          height: 50px;
          margin-left: -30px;
        }
        #start-time{
          width: 150px;
          height: 50px;
          margin-left: -30px;
        }
        #end-time{
          width: 150px;
          height: 50px;
          margin-left: -30px;
        }
        #legend { 
          display: flex; 
          display: -webkit-box;
          background-color: transparent;
          width: 150px;
          height: 20px;

        }
        .color-key {
          background: linear-gradient(to right,
            hsl(5, 69%, 54%) 0%,
            hsl(29, 71%, 51%) 17%,
            hsl(54, 74%, 47%) 33%,
            hsl(78, 76%, 44%) 50%,
            hsl(102, 78%, 41%) 67%,
            hsl(127, 81%, 37%) 83%,
            hsl(151, 83%, 34%) 100%);
          flex: 1;
          -webkit-box-flex: 1;
          margin: 0 5px;
          text-align: left;
          font-size: 1.0em;
          line-height: 1.0em;
          height: 20px;
         }
         .nicebox {
          position: absolute;
          text-align: center;
          font-family: "Roboto", "Arial", sans-serif;
          font-size: 13px;
          z-index: 5;
          box-shadow: 0 4px 6px -4px #333;
          padding: 5px 10px;
          background: rgb(255,255,255);
          background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
          border: rgb(229, 229, 229) 1px solid;
          margin-top:10px;
          margin-left: -2px;
          
        }

        .page-header h1{
          font-size: 40px;
        }
        #map{
          width:1000px;
          height: 500px;
          
        }
        #right-botton{
          margin-left: 100px;
          display: inline-block;
          margin-bottom: 20px;
        }
        #time-reminder{
          font-size: 15px;
          padding-left:100px;
          padding-top:80px;
        }
        .footer{
          font-size:20px;
        }
        .footer h3{
          padding-left:450px;
        }
        #slide-out{
          height: 500px;
          margin-top:200px;
          border-radius: 3%;
        }

        #classes{
           font-size: 16px;
           line-height: 1

        }

        #show-events{
          width: 179px;
          height: 50px;
          margin-top:10px;
          margin-left:-45px;
          padding-top: 20px;
          font-size: 15px;
          line-height: 1
        }
         #show-classes{
          width: 179px;
          height: 50px;
          margin-top:10px;
          margin-left:-45px;
          padding-top: 20px;
          font-size: 15px;
          line-height: 1
        }